@model IEnumerable<LibraryApp.Web.Models.Book>

<table class="table table-hover table-striped">
    <thead class="table-primary">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Genre</th>
            <th>Dispo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Genre</td>
            <td>@book.CopiesAvailable / @book.TotalCopies</td>
            <td>
                <a class="btn btn-sm btn-info" href="@Url.Action("Details","Books", new { id = book.Id })">Détails</a>
                <a class="btn btn-sm btn-warning" href="@Url.Action("Edit","Books", new { id = book.Id })">Modifier</a>
                <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","Books", new { id = book.Id })">Supprimer</a>
                <form asp-action="Borrow" method="post" class="d-inline">
                    <input type="hidden" name="code" value="@book.Copies.FirstOrDefault()?.Code" />
                    <input type="hidden" name="userId" value="UtilisateurIdIci" />
                    <button class="btn btn-sm btn-success">Emprunter</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
